---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/channels?id=UCsXVk37bltHxD1rDPwtNM8Q,UCJowOS1R0FnhipXVqEnYU1A&key=AIzaSyBsOHb5ihFhb9pbLPvHV_n6AsEs4LDXq7c&part=statistics,%20snippet,%20brandingSettings
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-MbQ9Mlb1XuVUroaEDO1p-2SVQ4",
          "pageInfo": {
            "totalResults": 2,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "GtMIFTm-vnjDTjTx_L2dzcJN6eg",
              "id": "UCsXVk37bltHxD1rDPwtNM8Q",
              "snippet": {
                "title": "Kurzgesagt – In a Nutshell",
                "description": "Animation videos explaining things with optimistic nihilism since 12,013.\n\nWe’re a team of illustrators, animators, number crunchers and one dog who aim to spark curiosity about science and the world we live in. To us nothing is boring if you tell a good story.\n\nFor updates on our videos and other news from the kurzgesagt universe follow us on Twitter, Facebook, Instagram and LinkedIn.\n",
                "customUrl": "@kurzgesagt",
                "publishedAt": "2013-07-09T20:17:20Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJWjS7at2j0n5yn5dsfYFe5x_V8QeN66ppWjzChpoQ=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJWjS7at2j0n5yn5dsfYFe5x_V8QeN66ppWjzChpoQ=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJWjS7at2j0n5yn5dsfYFe5x_V8QeN66ppWjzChpoQ=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "Kurzgesagt – In a Nutshell",
                  "description": "Animation videos explaining things with optimistic nihilism since 12,013.\n\nWe’re a team of illustrators, animators, number crunchers and one dog who aim to spark curiosity about science and the world we live in. To us nothing is boring if you tell a good story.\n\nFor updates on our videos and other news from the kurzgesagt universe follow us on Twitter, Facebook, Instagram and LinkedIn.\n"
                },
                "country": "DE"
              },
              "statistics": {
                "viewCount": "2237613637",
                "subscriberCount": "20100000",
                "hiddenSubscriberCount": false,
                "videoCount": "173"
              },
              "brandingSettings": {
                "channel": {
                  "title": "Kurzgesagt – In a Nutshell",
                  "description": "Animation videos explaining things with optimistic nihilism since 12,013.\n\nWe’re a team of illustrators, animators, number crunchers and one dog who aim to spark curiosity about science and the world we live in. To us nothing is boring if you tell a good story.\n\nFor updates on our videos and other news from the kurzgesagt universe follow us on Twitter, Facebook, Instagram and LinkedIn.\n",
                  "keywords": "Science universe space \"black hole\" life virus climate history education evolution",
                  "unsubscribedTrailer": "_27eD49ePQE",
                  "country": "DE"
                },
                "image": {
                  "bannerExternalUrl": "https://yt3.googleusercontent.com/eG1BG-8Ra-zjCP9OGIRGbaLO4z-83im-gM99vUhiMrsEpsu_5cmXy3tnA2dRsbEs0VC5FxPlew"
                }
              }
            },
            {
              "kind": "youtube#channel",
              "etag": "uWv2aNTpSoCafeC1DnRi7Tx5lTs",
              "id": "UCJowOS1R0FnhipXVqEnYU1A",
              "snippet": {
                "title": "SitePoint",
                "description": "SitePoint is a hub for web developers to share their passion for building incredible I[...]
