---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyBsOHb5ihFhb9pbLPvHV_n6AsEs4LDXq7c&maxResults=50&part=snippet&q=cats&type=video,%20channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"2K2vxzsJetLpFqbCh-OnGh4wcGg\",\n
        \ \"nextPageToken\": \"CDIQAA\",\n  \"regionCode\": \"UA\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 50\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"25s9UsRBFXumHep3nxCmyO_mNu8\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"blSikbGWoKI\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2023-03-01T23:06:14Z\",\n        \"channelId\": \"UCTl8bLnzuZzID1kIhpbS5vQ\",\n
        \       \"title\": \"How you can help more Brooklyn cats\",\n        \"description\":
        \"They need us year round - and you make our work possible. So today we're
        asking you to join us as a monthly supporter. It feels ...\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/blSikbGWoKI/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/blSikbGWoKI/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/blSikbGWoKI/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Flatbush Cats\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2023-03-01T23:06:14Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"nF0A9mS289mEA04eilD6HA6_Z6U\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"GOpqOonrSA0\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2023-03-01T22:00:15Z\",\n        \"channelId\": \"UC6zbH1Z4G32bBV9wyK6ikPA\",\n
        \       \"title\": \"&quot;Please Take Me In” Stray Cat Keeps Coming Back
        [...]
